---
import IconFeather from "@/assets/icons/IconFeather.svg";
import IconAperture from "@/assets/icons/IconAperture.svg";
import IconPerson from "@/assets/icons/IconPerson.svg";
import type { SDGContributor } from "@/types";

type Props = {
	persons: SDGContributor[];
	type: "author" | "photographer";
};

const { persons, type } = Astro.props;
---


<div
	class="flex items-center gap-2 text-foreground/70 text-[0.95rem]"
>
	{type === "author" ? <IconFeather class="shrink-0 opacity-60 size-4.5" />:
	type === "photographer" ? <IconAperture class="shrink-0 opacity-60 size-4.5" /> :
	<IconPerson class="shrink-0 opacity-60 size-4.5" />}
	<span>
        {persons.map((person, i) => (
            <>
            {i > 0 && ", "}
            {person.link ? (
                <a
                href={person.link}
                target="_blank"
                rel="noopener noreferrer"
                class="text-accent no-underline transition-opacity hover:opacity-80 hover:underline hover:underline-offset-2"
                >
                {person.name}
                </a>
            ) : (
                <span>{person.name}</span>
            )}
            </>
        ))}
        </span>
</div>
